<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="datagrid">
    <table>
        <thead><tr><th>Modifier</th><tr></thead>
        <tfoot><tr><td colspan="4"><div id="paging" style="text-align:right"><button ng-click="validerEditionDomain()">Modifier</button></button></div></tr></tfoot>
        <tbody>
        <tr><td><label>d id </label><br><input ng-model="domain.d_id" disabled></input><br>
            <label>d Dept</label><br><input ng-model="domain.d_dept"></input><br>
            <label>d Domain</label><br><input ng-model="domain.d_domain"></input><br>
            <label>d Description</label><br><input ng-model="domain.d_description"></input><br>
            <label>d Unit</label><br><input ng-model="domain.d_unit"></input><br>
        </td></tr>
        </tbody>
    </table>
</div><br><br>

</body>
</html>